* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.App {
  background: rgb(255, 255, 255);
  min-height: 100vh;
}

@import "_login";
@import "_directory";
@import "_add";
@import "_user";
